
.add-button {
  border: 1px solid black;
  padding: 20px;
  position: absolute;
  left: 0px
}
.add-button:before {
  content: '+'
}



.arrow-button {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}

.up-arrow-button {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down-arrow-button {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
