
.fret {
    position: absolute;
    width: 1px;
    background: black;
    height: 100%;
}

.fret:first-of-type {
    width: 5px;
}

.fret-dot {
    position: absolute;
    border-radius: 5px;
    height: 5px;
    width: 5px;
    background: black;
    top: 50%;
    bottom: 50%;
    -webkit-transform: translate(-1.5px, -1.5px);
}

.fret-double-dot {
    position: absolute;
    border-radius: 5px;
    height: 5px;
    width: 5px;
    background: black;
    -webkit-transform: translate(-1.5px, -1.5px);
}

.fret-number {
    position: absolute;
    top: -20px;
    left: -5px;
    text-align: center;
}