.note {
    position: absolute;
    border: 1px solid black;
    height: 25px;
    width: 25px;
    border-radius: 30px;
    font-size: 8px;
    line-height: 25px;
    background-color: deepskyblue;
}