
.note-picker-note {
    /*position: absolute;*/
    display: inline-block;
    height: 30px;
    width: 50px;
    /*border: 1px solid black;*/
    font-size: 14px;
    line-height: 30px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #5498ea;
    cursor: pointer;
}

.note-picker-note:hover {
    background-color: #377acc;
}

.note-picker-note-selected {
    background-color: #2864ac;
}

/*253c59*/
/*2a5e9e*/
/*2864ac*/
/*377acc*/
/*5498ea*/